SECRET_KEY='django-insecure-cg6*%6d51ef8f#4!r3*$vmxm4)abgjw8mo!4y-q*uq1!4$-89$'
DEBUG=False
DJANGO_ALLOWED_HOSTS=['158.160.88.6', 'localhost', '127.0.0.1', 'valerababajovkitty.zapto.org']

POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
# Переменные проекта
DB_HOST=db
DB_PORT=5432
